<h1>
    Hello Lili!
</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam alias aliquam maiores deserunt eum ipsum voluptatem ex? Aliquid quod, provident tempora molestiae voluptates cum exercitationem neque, porro error veritatis necessitatibus, veniam dolorem
    nisi ipsa eaque voluptate soluta minus. Placeat est aspernatur accusantium saepe. Totam vero earum, consectetur, asperiores vitae sint placeat tempore consequuntur voluptatem omnis saepe at ducimus quo adipisci?</p>

<ul>
    <li *ngFor="let course of courses">{{course}}</li>
</ul>